<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Winzerhof Wurst, Schrattenthal, Österreich">
  <title>Winzerhof Wurst</title>
  <title>Hello</title>
</head>

<body id="wiwu-body">
  <div id="content">
    <!--vue-ssr-outlet-->
  </div>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    // accurately measure the time spent on the last pageview of a visit
    _paq.push(['enableHeartBeatTimer']);
    (function () {
      var u = "https://piwik.wuc.me/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', '2']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p>
      <img src="https://piwik.wuc.me/piwik.php?idsite=2" style="border:0;" alt="" />
    </p>
  </noscript>
  <!-- End Piwik Code -->
</body>

</html>
